body{
    background-color: black;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
}

.chamada{
    background-color: rgb(59, 25, 51);
    padding-top: 80px;
    padding-bottom: 80px;
    display:flex ;
    justify-content: center;
}
.chamada-texto{

    margin-right: 5%;
}

.categoria-video{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    
}

.categoria{
padding-left: 20px;
padding-right: 20px;

}
h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}
header{
    font-size: 40px;
}

.categoria-video img {
    opacity: 0.5;
    height: 210px;
}

.categoria-video img:hover {
    opacity: 1.0;
}